.commentForm input {
	width: 100%;
	font-size: 0.9rem;
	@apply my-2 h-8 px-2 rounded-md;
}

.btn-comment-wrapper {
	display: flex;
	justify-content: flex-end;
}

.btn-comment {
	background: rgb(1, 158, 1);
	padding-block: 0.5rem;
	@apply rounded-md px-3;
}

.btn-comment:hover {
	background: green;
}
